<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Directory</title>
  <link rel="stylesheet" href="main.css">
</head>
  <body>
    <container class = "profile">
      {{#user}}
      {{avatar}}
      {{/user}}
    </container>
  </body>
</html>
